<footer
    class="footer sm:footer-horizontal footer-center bg-base-300 text-base-content mt-20 p-4"
>
    <aside>
        <p>
            Copyright © {new Date().getFullYear()} - Jenny Diep
        </p>
    </aside>
</footer>
