---
import "../assets/app.css";
import NavMenu from "../components/NavMenu.astro";
---

<!doctype html>
<html lang="en" data-theme="nord">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Jenny Diep</title>
	</head>
	<body>
		<NavMenu />
		<slot />
	</body>
</html>
